<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.three.dao.sysWorklinerDao">
	<insert id="add"
		parameterType="com.three.model.sysWorkLinerModel">
		<if test="linerId!=''">insert into
			sysworkliner(linerId,linerName,linerAdmin,shopId)values(#{linerId},#{linerName},#{linerAdmin},#{shopId})
		</if>
		<if test="linerId==''">insert into
			sysworkliner(linerName,linerAdmin,shopId)values(#{linerName},#{linerAdmin},#{shopId})
		</if>
	</insert>
	<delete id="del" parameterType="int">
		delete from sysworkliner where
		linerId=#{linerId};
	</delete>
	<update id="upd"
		parameterType="com.three.model.sysWorkLinerModel">
		update sysworkliner set
		linerName=#{linerName},linerAdmin=#{linerAdmin},shopId=#{shopId}
		where
		linerId = #{linerId}
	</update>
	<select id="findAll"
		resultType="com.three.model.sysWorkLinerModel">
		select * from sysworkliner
	</select>
	<select id="findByCondition"
		resultType="com.three.model.sysWorkLinerModel">
		select * from sysworkliner
		<where>
			<if test="shopId!=0">and shopId=#{shopId} </if>
			<if test="linerName!=''"> and linerName=#{linerName}  </if>
			<if test="linerAdmin!=''"> and linerAdmin=#{linerAdmin}  </if>
		</where>
	</select>
	<select id="findById" parameterType="int"
		resultType="com.three.model.sysWorkLinerModel">
		select * from sysworkliner
		where linerId=#{linerId}
	</select>
</mapper>