<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.user.UserDao">
	<insert id="add" parameterType="com.yc.user.UserModel">
		insert into
		t_user(name,remark,groupId)values(#{name},#{remark},#{groupId})
	</insert>
	<delete id="del" parameterType="int">
		delete from t_user where id=#{id}
	</delete>
	<update id="update" parameterType="User">
		update t_user set
		name=#{name},remark=#{remark},groupId=#{groupId} where id=#{id}
	</update>
	<select id="findById" parameterType="int" resultType="User">
		select *
		from t_user where id=#{id}
	</select>
	<!-- <select id="findAll" resultType="User"> select * from t_user </select> -->
	<select id="findAll" resultMap="userModelMap">
		select u.*,g.id gid,g.name
		gname,g.remark gremark from t_user u,t_group g where u.groupId=g.id
	</select>
	<resultMap type="com.yc.user.UserModel" id="userModelMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="remark" />
		<result property="groupId" />
		<association property="groupModel" javaType="com.yc.group.GroupModel">
			<id property="id" column="gid" />
			<result property="name" column="gname" />
			<result property="remark" column="gremark" />
		</association>
	</resultMap>


</mapper>